[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IPMbook"]
	path = IPMbook
	url = https://github.com/kenkellner/ipmbook
[submodule "jagsUI"]
	path = jagsUI
	url = https://github.com/kenkellner/jagsui
[submodule "ubms"]
	path = ubms
	url = https://github.com/kenkellner/ubms
